<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Comtest</title>

    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">


</head>

<body ng-app="myApp" ng-controller="mainController">
    <div class="row">
        <div class="col-xs-12">
            <h4 class="inline">Select a comport:</h4>
            <select class="inline" ng-model="currentCom" class="">
                <option ng-repeat="port in ports" value="{{port.comName}}">
                    {{port.manufacturer}} : {{port.comName}}
                </option>
            </select>
            <input type="number" ng-model="baudRate">
            <button class="btn btn-warning" ng-click="refresh()">Refresh</button> <button class="btn btn-primary" ng-click="connect()">Connect</button>
            <br>
            <br>
        </div>

        <div class="col-xs-12">
            <textarea class="form-control" id="recievedField" ng-model="recieved"></textarea>
            <br>
        </div>

        <div class="col-xs-10">
            <form ng-submit="send()">
              <input class="form-control" type="input" ng-model="message">
            </form>
        </div>
        <div class="col-xs-2"><button class="btn btn-primary full-width" ng-click="send()">Send</button></div>
    </div>
</body>


<script>
    global.jQuery = require('jquery');
</script>
<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/index.js"></script>
<script src="js/mainController.js"></script>
</html>
